.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(126, 223, 126);
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
}

li a:hover {
    background-color: rgb(26, 165, 14);
    text-align: center;
}

li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
}

li a:hover:not(.nav-bar); {
    background-color: darkgreen;
}


#top-bar {
    float: right;
    border-right: 1px solid rgb(187, 187, 187);
}

.navbar{
    background-color: rgb(26, 165, 14);
    color: white;
}

.start-thing {
    background-image:url("https://images.squarespace-cdn.com/content/v1/50a39d4ce4b0f822f291399c/1581619086328-6DYHH0POJY2NL8OLKMA6/ke17ZwdGBToddI8pDm48kIPMjyAxYAbEcFTs8zCKKJJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0qN_-Z3B7EvygvPOPmeOryX1pkXg-pKyyA7MDP6ZuEHmJuzC89-qxFpXVqq6ylzIAA/P1040430.jpeg?format=2500w");
    background-repeat: no-repeat;
    background-size: 2000px 550px;

}